.row {
    height: 30px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#map {
    height: 800px;
    width: 100%;
}
.roundedborder {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.img-icon {
    margin-right: 10px; 
    width: 100px; 
    height: 100px;
}