.row {
    height: 30px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#map {
    height: 800px;
    width: 100%;
}
.roundedborder {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    p:last-child {
      margin-bottom: 0;
    }
    code {
      border-radius: 3px;
    }
  }
.callout-grey {
    border-left-color: #777;
    h4 {
        color: #777;
    }
}