  <div class="container">
    <div class="jumbotron">
      <h1>Impressum</h1>
  
      <h4>Angaben gem&auml;&szlig; &sect; 5 TMG</h4>

      <address>
        {{name}}
        <br />
        {{street}}
        <br />
        {{postalcode}} {{city}}
    </address>
    <address>
        <strong>Kontakt</strong>
        <br />
        <i class="fa fa-phone"></i>&nbsp;{{telephone}}
        <br />
        <i class="fa fa-envelope"></i>&nbsp;{{email}}
      </address>

      <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
      <p>{{disclaimer}}</p>
    </div>
  </div>