<div class="container">

    <div class="jumbotron">
        <h3>Nützliche Links</h3>

        <h5>Projekte / Allgemeines</h5>

        <ul>
            <li><a href="https://www.insekten-sachsen.de/" target="_blank">Insekten-Sachsen</a></li>
            <li><a href="https://www.inaturalist.org/" target="_blank">iNaturalist - Eine Community für Naturfreunde</a></li>
            <li><a href="https://www.digital-nature.de/" target="_blank">Digital Nature</a></li>
            <li><a href="http://www.eu-insekten.de/index.php" target="_blank">EU Insekten</a></li>
            <li><a href="https://www.naturspaziergang.de/Insekten-Artenportraits.htm" target="_blank">Naturspaziergang.de</a></li>
        </ul>

        <h5>Foren</h5>

        <ul>
            <li><a href="http://www.entomologie.de/forum/" target="_blank">Entomologie Forum</a></li>
            <li><a href="https://das-neue-naturforum.de/" target="_blank">Das neue Naturforum</a></li>
        </ul>

        <h5>Schmetterlinge</h5>

        <ul>
            <li><a href="http://www.lepiforum.de/lepiwiki.pl?Fotouebersicht_Schmetterlingsfamilien" target="_blank">Lepiforum Bestimmungshilfe</a></li>
            <li><a href="https://www.schmetterling-raupe.de/" target="_blank">Schmetterling - Raupe / Portal für Schmetterlinge und Raupen</a></li>
        </ul>

        <h5>Käfer</h5>

        <ul>
            <li><a href="https://www.kerbtier.de/" target="_blank">kerbtier.de – Fotogalerie der Käferfauna Deutschlands</a></li>
            <li><a href="http://coleonet.de/coleo/html/start.htm" target="_blank">coleonet.de - Käfer Europas</a></li>
        </ul>

        <h5>Libellen</h5>

        <ul>
            <li><a href="https://libellenwissen.de/" target="_blank">Libellenwissen</a></li>
            <li><a href="https://www.libellen.tv/index.html" target="_blank">Libellen.TV</a></li>
        </ul>

        <h5>Heuschrecken</h5>

        <ul>
            <li><a href="https://www.orthoptera.ch/" target="_blank">Orthoptera.ch - Heuschrecken-Plattform für die Schweiz und Europa</a></li>
        </ul>

    </div>
</div>