<div class="container">
    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseOrdnungFilter" aria-expanded="false" aria-controls="collapseOrdnungFilter">
            Ordnung filtern
        </button>
    </div>
    <div class="form-group collapse" id="collapseOrdnungFilter">
        <div class="form-row">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button class="btn btn-light" (click)="selectAllOrdnungen(true)">
                    Alles
                </button>
                <button class="btn btn-light" (click)="selectAllOrdnungen(false)">
                    Nichts
                </button>
            </div>
        </div>
        <div class="form-row">
            <div *ngFor="let entry of selectedOrdnungen | keyvalue" class="custom-control custom-checkbox custom-control-inline">
                <input *ngIf="entry.value; else elseBlock"
                type="checkbox" class="custom-control-input" id="{{entry.key}}" 
                (change)="filterSelectedOrdnung($event.target.id, $event.target.checked)" checked="checked">
                <ng-template #elseBlock>
                    <input 
                    type="checkbox" class="custom-control-input" id="{{entry.key}}" 
                    (change)="filterSelectedOrdnung($event.target.id, $event.target.checked)">
                </ng-template>
                <label class="custom-control-label" for="{{entry.key}}">{{entry.key}}</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control form-control-sm" type="text" placeholder="Suche (Artname oder Familie)..." (keyup)="filterBySearch($event.target.value)">
    </div>
    <div class="accordion" id="accordionArten">
        <div class="card" *ngFor="let art of filteredArten; let i = index">
            <div class="card-header" [attr.id]="'heading' + i">
                <h2 class="mb-0">
                    <button class="btn btn-link text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                    aria-expanded="true" [attr.aria-controls]="'collapse' + i" (click)="showFundeForArt(art)">
                        <table>
                            <tr>
                                <td>
                                    <img *ngIf="art.artfoto != null && art.artfoto.iconPfad != null" 
                                        src="assets/images/{{art.artfoto.iconPfad}}" 
                                        alt="Icon" class="img-thumbnail"
                                        style="margin-right: 10px;" />
                                    <i *ngIf="art.artfoto == null || art.artfoto.iconPfad == null" class="fa fa-image fa-2x"></i>
                                </td>
                                <td>
                                    <b>{{art.nameDeutsch}}</b><small *ngIf="art.familie != null" class="text-muted">&nbsp;({{art.familie}})</small><br />
                                    <small class="text-muted"><em>{{art.name}}</em></small>
                                </td>
                            </tr>
                        </table>
                    </button>
                </h2>
            </div>

            <div [attr.id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordionArten">
                <div *ngIf="selectedArt != null && selectedArt.name == art.name" class="card-body">

                    <a *ngIf="selectedArt.urlWikipedia != null" href="{{selectedArt.urlWikipedia}}" class="badge badge-info" target="_blank">Wikipedia</a>
                    <span *ngIf="selectedArt.urlWikipedia != null">&nbsp;</span>
                    <a *ngIf="selectedArt.urlInsektenSachsen != null" href="{{selectedArt.urlInsektenSachsen}}" class="badge badge-info" target="_blank">Insekten Sachsen</a>
                    <span *ngIf="selectedArt.urlInsektenSachsen != null">&nbsp;</span>
                    <a *ngIf="selectedArt.urlSonstige != null" href="{{selectedArt.urlSonstige}}" class="badge badge-info" target="_blank">Weitere Infos</a>
                    <span *ngIf="selectedArt.urlSonstige != null">&nbsp;</span>
                    <a *ngIf="selectedArt.urlVideo != null" href="{{selectedArt.urlVideo}}" class="badge badge-success" target="_blank">Video</a><br /><br />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Beobachtungen</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let fund of artenFunde; let j = index">
                            <td>
                                <i class="fa fa-calendar fa-fw" style="color: #999;"></i>
                                {{fund.datumFormattiert}} <small class="text-muted"><em>({{fund.beobachter}})</em></small><br />
                                <i class="fa fa-map-marker fa-fw" style="color: #999;"></i>&nbsp;{{fund.fundort}}
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <img *ngFor="let foto of artenFotos; let i=index" [src]="foto.thumb" (click)="open(i)" alt="thumbnail" class="img-thumbnail" />
                </div>
            </div>
        </div>
    </div>
</div>