<div class="container">
    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseOrdnungFilter" aria-expanded="false" aria-controls="collapseOrdnungFilter">
            Ordnung filtern
        </button>
    </div>
    <div class="form-group collapse" id="collapseOrdnungFilter">
        <div class="form-row">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button class="btn btn-light" (click)="selectAllOrdnungen(true)">
                    Alles
                </button>
                <button class="btn btn-light" (click)="selectAllOrdnungen(false)">
                    Nichts
                </button>
            </div>
        </div>
        <div class="form-row">
            <div *ngFor="let entry of selectedOrdnungen | keyvalue" class="custom-control custom-checkbox custom-control-inline">
                <input *ngIf="entry.value; else elseBlock"
                type="checkbox" class="custom-control-input" id="{{entry.key}}" 
                (change)="filterSelectedOrdnung($event.target.id, $event.target.checked)" checked="checked">
                <ng-template #elseBlock>
                    <input 
                    type="checkbox" class="custom-control-input" id="{{entry.key}}" 
                    (change)="filterSelectedOrdnung($event.target.id, $event.target.checked)">
                </ng-template>
                <label class="custom-control-label" for="{{entry.key}}">{{entry.key}}</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control form-control-sm" type="text" placeholder="Suche (Artname oder Familie)..." (keyup)="filterBySearch($event.target.value)" value="{{art}}">
    </div>
    <div class="d-flex justify-content-center">
        <jw-pagination *ngIf="filteredArten != null" [items]="filteredArten" [pageSize]=20 (changePage)="onChangePage($event)"></jw-pagination>
    </div>
    <div class="accordion" id="accordionArten">
        <div class="card" *ngFor="let art of filteredArtenPerPage; let i = index">
            <div class="card-header" [attr.id]="'heading' + i">
                <h2 class="mb-0">
                    <button class="btn btn-link text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                    aria-expanded="true" [attr.aria-controls]="'collapse' + i" (click)="selectedArt = art">
                        <table>
                            <tr>
                                <td>
                                    <img *ngIf="art.foto != null && art.foto.src != null" 
                                        src="{{art.foto.src}}" 
                                        alt="Icon" class="img-thumbnail img-icon" />
                                    <i *ngIf="art.foto == null || art.foto.src == null" class="fa fa-image fa-2x"></i>
                                </td>
                                <td>
                                    <b>{{art.nameDeutsch}}</b><small *ngIf="art.familie != null" class="text-muted">&nbsp;({{art.familie}})</small><br />
                                    <small class="text-muted"><em>{{art.name}}</em></small>
                                </td>
                            </tr>
                        </table>
                    </button>
                </h2>
            </div>

            <div [attr.id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordionArten">
                <div *ngIf="selectedArt != null" class="card-body">
                    <app-species-details [art]="art" ></app-species-details>
                </div>
            </div>
        </div>
    </div>
</div>