<div class="container">
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="inputFromDate">Von</label>
                <input class="form-control" id="inputFromDate" type="date" value="{{fromDate}}" (change)="filterByFromDate($event.target.value)">
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputToDate">Bis</label>
                <input class="form-control" id="inputToDate" type="date" value="{{toDate}}" (change)="filterByToDate($event.target.value)">
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputSortorder">Sortierung</label>
                <select class="custom-select" id="inputSortorder" (change)="sortList($event.target.value)">
                    <option value="ASC" selected>Aufsteigend</option>
                    <option value="DESC">Absteigend</option>
                </select>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Beobachtungen nach Datum</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let beobachtung of beobachtungen; let j = index">
            <td>
                <b>{{beobachtung.art.nameDeutsch}}</b>&nbsp;
                <small class="text-muted"><em>{{beobachtung.art.name}}</em></small><br />
                <small class="text-muted"><em>{{beobachtung.art.ordnung}}</em></small>
                <small *ngIf="beobachtung.art.familie != null" class="text-muted"> / {{beobachtung.art.familie}}</small><br />
                <i class="fa fa-calendar fa-fw" style="color: #999;"></i>
                {{beobachtung.datumFormattiert}} <small class="text-muted"><em>({{beobachtung.beobachter}})</em></small><br />
                <i class="fa fa-map-marker fa-fw" style="color: #999;"></i>&nbsp;{{beobachtung.fundort}}
            </td>
          </tr>
        </tbody>
    </table>
</div>