<div class="container">
    <div class="container">
        <h5 class="text-center">Beobachtungen nach Datum</h5>
    </div>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="inputFromDate">Von</label>
                <input class="form-control" id="inputFromDate" type="date" value="{{fromDate}}" (change)="filterByFromDate($event.target.value)">
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputToDate">Bis</label>
                <input class="form-control" id="inputToDate" type="date" value="{{toDate}}" (change)="filterByToDate($event.target.value)">
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputSortorder">Sortierung</label>
                <select class="custom-select" id="inputSortorder" (change)="sortList($event.target.value)">
                    <option value="ASC">Aufsteigend</option>
                    <option value="DESC" selected>Absteigend</option>
                </select>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <jw-pagination *ngIf="beobachtungen != null" [items]="beobachtungen" [pageSize]=20 (changePage)="onChangePage($event)"></jw-pagination>
    </div>
    <div class="accordion" id="accordionBeobachtungen">
        <div class="card" *ngFor="let beobachtung of beobachtungenPerPage; let i = index">
            <div class="card-header" [attr.id]="'heading' + i">
                <table>
                    <tr>
                        <td style="width: 80px;">
                            <img [attr.src]="'assets/images/' + beobachtung.art.foto.src" alt="Icon" class="img-thumbnail" />
                        </td>
                        <td class="text-left">
                            <b>{{beobachtung.art.nameDeutsch}}</b>&nbsp;
                            <small class="text-muted"><em>{{beobachtung.art.name}}</em></small><br />
                            <small class="text-muted"><em>{{beobachtung.art.ordnung}}</em></small>
                            <small *ngIf="beobachtung.art.familie != null" class="text-muted"> / {{beobachtung.art.familie}}</small><br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <i class="fa fa-calendar fa-fw" style="color: #999;"></i>
                            {{beobachtung.datumFormattiert}} <small class="text-muted"><em>({{beobachtung.beobachter}})</em></small><br />
                            <i class="fa fa-map-marker fa-fw" style="color: #999;"></i>&nbsp;{{beobachtung.fundort}}<br />
                            <button class="btn badge badge-success" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                                    aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                                Fotos  
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div [attr.id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordionBeobachtungen">
                <img *ngFor="let foto of beobachtung.fotos; let i=index" [src]="foto.thumb" (click)="open(beobachtung.fotos, i)" alt="thumbnail" [title]="convertBackCopyRightEntity(foto.caption)" class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>