<p *ngIf="art.notizen != null">{{art.notizen}}</p>
<a *ngIf="art.urlWikipedia != null" href="{{art.urlWikipedia}}" class="badge badge-info" target="_blank">Wikipedia</a>
<span *ngIf="art.urlWikipedia != null">&nbsp;</span>
<a *ngIf="art.urlInsektenSachsen != null" href="{{art.urlInsektenSachsen}}" class="badge badge-info" target="_blank">Insekten Sachsen</a>
<span *ngIf="art.urlInsektenSachsen != null">&nbsp;</span>
<a *ngIf="art.urlSonstige != null" href="{{art.urlSonstige}}" class="badge badge-info" target="_blank">Weitere Infos</a>
<span *ngIf="art.urlSonstige != null">&nbsp;</span>
<a *ngIf="art.urlVideo != null" href="{{art.urlVideo}}" class="badge badge-success" target="_blank">Video</a><br /><br />

<button type="button" class="btn badge badge-success" (click)="togglePhenogram(art)">Phänogramm</button>

<div class="d-flex justify-content-center">
    <google-chart *ngIf="chartData.length != 0" [type]="chartType" 
                  [data]="chartData" 
                  [columns]="chartColumnNames" 
                  [width]="chartWidth" 
                  [height]="chartHeight"
                  [options]="chartOptions">
    </google-chart>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Beobachtungen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fund of artenFunde; let j = index">
            <td>
                <i class="fa fa-calendar fa-fw" style="color: #999;"></i>&nbsp;&nbsp;
                {{fund.datumFormattiert}} <small class="text-muted"><em>({{fund.beobachter}})</em></small>&nbsp;&nbsp;
                <i class="fa fa-map-marker fa-fw" style="color: #999;"></i>&nbsp;{{fund.fundort}}&nbsp;&nbsp;
                <i class="fa fa-hashtag fa-fw" style="color: #999;"></i><em>&nbsp;{{fund.anzahl}}</em>&nbsp;&nbsp;
                Stadium: {{fund.stadium}}
            </td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<img *ngFor="let foto of artenFotos; let i=index" [src]="foto.thumb" (click)="open(i)" alt="thumbnail" [title]="convertBackCopyRightEntity(foto.caption)" class="img-thumbnail" />