<div class="row" style="height: 30px;">
    <div class="form-group">
        <label for="sel1">Ordnung ausw&auml;hlen: </label>
        <select class="form-control" (change)="filterSelectedOrdnung($event.target.value)">
            <option value=""></option>
            <option *ngFor="let ordnung of ordnunglist" value="{{ordnung}}">{{ordnung}}</option>
        </select>
        &nbsp;
        <label for="sel1">Art ausw&auml;hlen: </label>
        <select class="form-control" (change)="filterSelectedArt($event.target.value)">
            <option value=""></option>
            <option *ngFor="let art of artlist" value="{{art}}">{{art}}</option>
        </select>
    </div>
</div>
<div id="map" style="height: 610px; width:100%">
</div>