<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="">
            <i class="fa fa-home"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" routerLink="karten" title="Karte">Karte</a>
                <a class="nav-item nav-link active" routerLink="arten" title="&Uuml;bersicht &uuml;ber Insektenarten">Insektenarten</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        &Uuml;ber
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="impressum">Impressum</a>
                    </div>
                </li>
            </div>
        </div>
    </nav>
</div>
&nbsp;
<router-outlet></router-outlet>
<div class="container h-25 text-center">
    <small><a routerLink="impressum">Impressum</a></small>
</div>