<div class="container">
    <div *ngIf="amountCarouselPictures > 0" id="headCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let i of carouselPictureNumbers" [attr.class]="i==0 ? 'carousel-item active' : 'carousel-item'" data-interval="10000">
                <img [attr.src]="'assets/images/01_base_images/carousel_' + i + '.jpg'" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#headCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Zur&uuml;ck</span>
        </a>
        <a class="carousel-control-next" href="#headCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Vor</span>
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0"><!-- py-0 sets the padding top and bottom to 0 -->
        <a class="navbar-brand" routerLink="">
            <i class="fa fa-home"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="karten" title="Karte">Karte</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Beobachtungen
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="arten">Nach Arten</a>
                        <a class="dropdown-item" routerLink="gattungen">Nach Gattungen</a>
                        <a class="dropdown-item" routerLink="beobachtungen">Nach Datum</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="links" title="Link Sammlung">Link Sammlung</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        &Uuml;ber
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="impressum">Impressum</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
&nbsp;
<router-outlet></router-outlet>
<div class="container text-center mb-1">
    <small><a routerLink="impressum">Impressum</a></small>
</div>