<div class="container">
    <div class="form-group">
        <h6>Ordnung ausw&auml;hlen:</h6>
        <select class="form-control form-control-sm" (change)="filterSelectedOrdnung($event.target.value)">
            <option value=""></option>
            <option *ngFor="let ordnung of ordnungList" value="{{ordnung}}">{{ordnung}}</option>
        </select>
        <h6>Art ausw&auml;hlen:</h6>
        <select class="form-control form-control-sm" (change)="filterSelectedArt($event.target.value)">
            <option value=""></option>
            <option *ngFor="let art of artList" value="{{art}}">{{art}}</option>
        </select>
        <h6>Beobachter ausw&auml;hlen:</h6>
        <select class="form-control form-control-sm" (change)="filterSelectedBeobachter($event.target.value)">
            <option value=""></option>
            <option *ngFor="let beobachter of beobachterList" value="{{beobachter}}">{{beobachter}}</option>
        </select>
    </div>
</div>
<div class="container">
    <div id="map" class="jumbotron"></div>
</div>